In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "Resources/country_continent.csv"

country_df = pd.read_csv(file, encoding='ISO-8859-1')
new_country_df = country_df[['country','continent','sub_region']]
new_country_df.head()

          country continent       sub_region
0     Afghanistan      Asia    Southern Asia
1   Åland Islands    Europe  Northern Europe
2         Albania    Europe  Southern Europe
3         Algeria    Africa  Northern Africa
4  American Samoa   Oceania        Polynesia

In [3]:
# The path to our CSV file
file = "Resources/happy_2019.csv"

hpi_country_df = pd.read_csv(file, encoding='UTF-8')
new_hpi_country_df = hpi_country_df.rename(columns={'Country or region':'country'})

hpi_final = new_hpi_country_df['country']
hpi_final.head(155)

0      Afghanistan
1          Albania
2          Algeria
3        Argentina
4          Armenia
          ...
150     Uzbekistan
151      Venezuela
152        Vietnam
153          Yemen
154         Zambia
Name: country, Length: 155, dtype: object

In [4]:
merge_df = pd.merge(new_country_df, hpi_final, on=('country'), how='inner')

clean_df = merge_df.rename(columns={ 'sub_region':'region'})

clean_df

         country continent           region
0    Afghanistan      Asia    Southern Asia
1        Albania    Europe  Southern Europe
2        Algeria    Africa  Northern Africa
3      Argentina  Americas    South America
4        Armenia      Asia     Western Asia
..           ...       ...              ...
144   Uzbekistan      Asia     Central Asia
145    Venezuela  Americas    South America
146        Yemen      Asia     Western Asia
147       Zambia    Africa   Eastern Africa
148     Zimbabwe    Africa   Eastern Africa

[149 rows x 3 columns]

In [5]:
from sqlalchemy import create_engine
from config import postgres_pwd

db_name = "happiness_db"
table_name = "countries"

connection_string = f"postgres:{postgres_pwd}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

clean_df.to_sql(table_name, con=engine, if_exists="append", index=False)

conn.close()