In [12]:
import pandas as pd

In [14]:
# The path to our CSV file
file = "Resources/country_continent.csv"

country_df = pd.read_csv(file, encoding='ISO-8859-1')
new_country_df = country_df[['country','continent','sub_region']]
new_country_df.head()

          country continent       sub_region
0     Afghanistan      Asia    Southern Asia
1   Åland Islands    Europe  Northern Europe
2         Albania    Europe  Southern Europe
3         Algeria    Africa  Northern Africa
4  American Samoa   Oceania        Polynesia

In [15]:
# The path to our CSV file
file = "Resources/happy_2019.csv"

hpi_country_df = pd.read_csv(file, encoding='UTF-8')
new_hpi_country_df = hpi_country_df.rename(columns={'Country or region':'country'})

hpi_final = new_hpi_country_df['country']
hpi_final.head(155)

0                       Finland
1                       Denmark
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
150                       Yemen
151                      Rwanda
152                    Tanzania
153                 Afghanistan
154    Central African Republic
Name: country, Length: 155, dtype: object

In [18]:
merge_df = pd.merge(new_country_df, hpi_final, on=('country'), how='inner')

clean_df = merge_df.rename(columns={'country':'Country', 'continent':'Continent', 'sub_region':'Region'})

clean_df

         Country Continent           Region
0    Afghanistan      Asia    Southern Asia
1        Albania    Europe  Southern Europe
2        Algeria    Africa  Northern Africa
3      Argentina  Americas    South America
4        Armenia      Asia     Western Asia
..           ...       ...              ...
130      Uruguay  Americas    South America
131   Uzbekistan      Asia     Central Asia
132        Yemen      Asia     Western Asia
133       Zambia    Africa   Eastern Africa
134     Zimbabwe    Africa   Eastern Africa

[135 rows x 3 columns]